<div class="login-wrap" fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;">

	
	<div class="app-auth-form" fxLayout="column">
		<div class="fler-r a-btn-master w-100">
			<a href="/login/hrhqadmin"  mat-button class="w-50" [ngClass]="{'active': userType === 'hrhqadmin'}">
				HRHQ Login
			</a>
			<a href="/login" mat-button class="w-50" [ngClass]="{'active': userType !== 'hrhqadmin'}">
				Branch Login
			</a>
		</div>
		
		<form [formGroup]="authForm" (ngSubmit)="submit()">
			<h2>{{title}}</h2>
			<mat-form-field appearance="outline">
				<mat-label>Phone Number</mat-label>
				<input matInput formControlName="phone" type="tel" required />
			</mat-form-field>
			
			<mat-form-field *ngIf="otpSent" appearance="outline">
				<mat-label>OTP</mat-label>
				<input matInput formControlName="otp" required />
			</mat-form-field>

			<div align="end">
				<button mat-stroked-button color="primary" type="button" (click)="sendOtp()" *ngIf="!otpSent"
				[disabled]="otpSent || !authForm.get('phone')!.valid">Send OTP</button>
				<button mat-flat-button color="primary" *ngIf="showSubmitButton()" type="submit" [disabled]="!authForm.get('otp')!.valid">Login</button>
			</div>
		</form>
	</div>
</div>
