<!-- auth.component.html -->
<div class="login-wrap" fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;">
  <span><a href="/login/hrhq">HRHQ Login</a></span>
  <span><a href="/login">Branch Login</a></span>
  <div class="app-auth-form" fxLayout="column">
    <h2>{{title}}</h2>
    <form [formGroup]="authForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" type="tel" required />
      </mat-form-field>
      <button class="otp-btn" type="button" (click)="sendOtp()" *ngIf="!otpSent"
        [disabled]="otpSent || !authForm.get('phone')!.valid">Send OTP</button>

      <mat-form-field *ngIf="otpSent" appearance="outline">
        <mat-label>OTP</mat-label>
        <input matInput formControlName="otp" required />
      </mat-form-field>

      <button class="submit-btn" type="submit" [disabled]="!authForm.get('otp')!.valid">Submit</button>
    </form>
  </div>
</div>
