.branch-list{
    margin-top: 10px;
    border: 0;
}
.form{
    margin-bottom: 35px;
}
input{
    border-radius: 10px 0 0 10px;
    border: 0.5px solid #0005;
    padding-left: 10px;
    // margin-bottom: 35px;
}
// button{
//     border-radius: 0 10px 10px 0;
// }