<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="sidenav.close()">Dashboard/Home</a>
      <a mat-list-item routerLink="/admin/users" (click)="sidenav.close()">Branch Management</a>
      <a mat-list-item routerLink="/admin/upload" (click)="sidenav.close()">File Upload Management</a>
      <a><app-notification-bell></app-notification-bell></a>
      <a routerLink="/reminders">Reminders</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <span>HRHQ Notices</span>
      <span class="spacer"></span>
      <nav class="desktop-menu">
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/admin/users">Branch</a>
        <a routerLink="/admin/upload">Notices</a>
        <a class="bell-icon"><app-notification-bell></app-notification-bell></a>
        <a routerLink="/reminders">Reminders</a>
      </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
