<mat-sidenav-container *ngIf="showHeader">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a *ngIf="authService.getRole() === 'hrhqadmin'" routerLink="/dashboard"
        (click)="sidenav.close()">Dashboard/Home</a>
      <a *ngIf="authService.getRole() === 'hrhqadmin'" routerLink="/user-management">Users</a>
      <a *ngIf="authService.getRole() === 'hrhqadmin'" routerLink="/admin/users" (click)="sidenav.close()">Branch
        Management</a>
      <a routerLink="/admin/upload" (click)="sidenav.close()">File Upload Management</a>
      <a><app-notification-bell></app-notification-bell></a>
      <!-- <a routerLink="/reminders">Reminders</a> -->
      <a routerLink="/login" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <span>HRHQ Notices - {{title}}</span>
      <span class="spacer"></span>
      <nav class="desktop-menu">
        <a *ngIf="authService.getRole() === 'hrhqadmin'" routerLink="/dashboard">Dashboard</a>
        <a *ngIf="authService.getRole() === 'hrhqadmin'" routerLink="/user-management">Users</a>
        <a *ngIf="authService.getRole() === 'hrhqadmin'" routerLink="/admin/users">Branch</a>
        <a *ngIf="authService.getRole() === 'hrhqadmin'" routerLink="/admin/upload">Notices</a>
        <a class="bell-icon"><app-notification-bell></app-notification-bell></a>
        <!-- <a routerLink="/reminders">Reminders</a> -->
        <a routerLink="/login" (click)="logout()">Logout</a>
      </nav>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
