.card{
    padding: 0;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;

    h2{
        background-color: #3F50B530;
        padding: 5px;
        width: 100%;
        border-radius: 8px 8px 0 0;
        margin-bottom: 5px;
    }
}
.table1 td, .table1 th{
    text-align: center;
}

.red-bold{
  color: red;
  font-weight: bold;
}

.red{
  color: red;
  font-weight: normal;
}

.branch-notice-btn {
  background-color: #ADD8E6 !important; /* Light grey for common notices */
  margin: 0 10px 10px 0;
}

.common-notice-btn {
  background-color: #ffbf00 !important; /* Light green for branch-specific notices */
  margin: 0 10px 10px 0;
}

span, .pending a{
  margin-right: 10px;
}
